<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ant Design Pro</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../public/extra-css/index-1.css" type="text/css">
  <link rel="stylesheet" href="../public/extra-css/index-2.css" type="text/css">
</head>

<body>
  <div id="root"></div>
</body>

</html>
